<mat-toolbar color="primary">
    <span>StarWars</span>
  </mat-toolbar>

<mat-list>
    <mat-list-item (click)="selectCat('people')">Characters</mat-list-item>
    <mat-list-item (click)="selectCat('films')">Films</mat-list-item>
    <mat-list-item (click)="selectCat('species')">Species</mat-list-item>
    <mat-list-item (click)="selectCat('starships')">Starships</mat-list-item>
    <mat-list-item (click)="selectCat('vehicles')">Vehicles</mat-list-item>
    <mat-list-item (click)="selectCat('planets')">Planets</mat-list-item>
</mat-list>