<mat-toolbar color="primary">
  <span>Star Wars</span>
  <span class="spacer"></span>
  <mat-icon class="icon" (click)="share()">share</mat-icon>
  <mat-icon class="icon" (click)="back()">arrow_back_ios</mat-icon>
</mat-toolbar>

<table class="displayTable">
  <tr>
    <td [colSpan]=2><img src={{imageURL}}></td>
  </tr>
  <tr *ngFor='let o of myList'>
    <td class="enforcedWord">{{ o.key }}</td>
    <td>{{ o.value }}</td>
  </tr>
  <tr *ngFor='let sup of superList'>
    <td class="enforcedWord">{{ sup.key }}</td>
    <td>
      <div *ngFor='let v of sup.value'>
        {{ v }}
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div style="text-align: left; padding-left: 2%">
        <form #form="ngForm" (ngSubmit)="addComment(form)">
          <mat-form-field>
            <textarea type="text" name="comment" matInput placeholder="Leave a comment" required ngModel>
              </textarea>
          </mat-form-field><br />
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
        </form>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div style="text-align: left; padding-left: 2%">
        Comment:
        {{ comments.comment}}
      </div>
    </td>
  </tr>
</table>