.spacer {
    flex: 1 1 auto;
  }
.icon {
    padding: 0 14px;
}
mat-list-item {
    font-size: 18px;    
    border: solid 1px black;
    font-weight: bolder;
    margin: 15px;
    border-radius: 5%;
    box-shadow:5px 5px 5px 5px indigo;
}


.capitalize {
    text-transform: capitalize;
}