<mat-toolbar color="primary">
  <span>StarWars</span>
  <span class="spacer"></span>
  <mat-icon class="icon" (click)="back()">arrow_back_ios</mat-icon>
</mat-toolbar>


<button type="submit" mat-raised-button (click)="share()">
  <mat-icon>share</mat-icon>
</button>


<table class="displayTable">
  <tr>
    <td [colSpan]=2><img src={{imageURL}}></td>
  </tr>
  <tr *ngFor='let o of myList'>
    <td class="enforcedWord">{{ o.key }}</td>
    <td>{{ o.value }}</td>
  </tr>
  <tr *ngFor='let sup of superList'>
    <td class="enforcedWord">{{ sup.key }}</td>
    <td>
      <div *ngFor='let v of sup.value'>
        {{ v }}
      </div>
    </td>
  </tr>
</table>


<form #form="ngForm" (ngSubmit)="addComment(form)">
  <mat-form-field>
    <textarea type="text" name="comment" matInput placeholder="Leave a comment" required ngModel>
      </textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
</form>

Comment:
{{ comments.comment}}

<br />
<!-- <ul>
  <li *ngFor="let c of comments">
    {{c.comment}}
  </li>
</ul> -->